@charset "UTF-8";
body {
    font-family: 'Roboto Condensed', sans-serif;
    min-height: 100vh;
    overflow-x: hidden;
    background: linear-gradient(#f8f8f8, #d9d9d9);
}

.conteudo {}

.container {
    display: grid;
    grid: auto-flow dense / repeat(5, 100px);
    align-content: center;
    justify-content: center;
    align-items: center;
    justify-items: center;
}

.slider-container {
    height: 400px;
}

.slider-container label {
    display: block;
    width: 100px;
}

.chart {
    transform: scale(0.9);
}

.slider {
    position: relative;
    transform: rotate(270deg);
    width: 360px;
    transform-origin: bottom;
}

.titulo {
    text-align: center;
}

h1 {
    padding: 20px;
    font-size: large;
    font-weight: 700;
}

.valorRange {
    font-weight: 800;
}

@media (max-width: 240px) {
    body {
        font-size: 0.75em;
    }
}

input[type=range] {
    height: 2.25em;
    border-radius: 2.25em;
    box-shadow: 0 -1px #eaeaea, 0 1px #fff;
    background: linear-gradient(#c3c3c3, #f1f1f1);
    cursor: pointer;
}

input[type=range],
input[type=range]::-webkit-slider-runnable-track,
input[type=range]::-webkit-slider-thumb {
    -webkit-appearance: none;
}

input[type=range][list]::-webkit-slider-container {
    min-height: 1.5em;
}

input[type=range]::-webkit-slider-container {
    -webkit-user-modify: read-write !important;
    margin: 0.375em;
    height: 1.5em;
    border-radius: 0.75em;
    box-shadow: inset 0 1px 4px #8c8c8c;
    background: linear-gradient(#f8dd36, #d68706) 0/var(--pos) no-repeat, linear-gradient(#efefef, #c9c9c9);
}

input[type=range]::-webkit-slider-runnable-track {
    margin: -0.375em;
}

input[type=range]::-moz-range-track {
    margin: 0.375em;
    height: 1.5em;
    border-radius: 0.75em;
    box-shadow: inset 0 1px 4px #8c8c8c;
    background: linear-gradient(#f8dd36, #d68706) 0/var(--pos) no-repeat, linear-gradient(#efefef, #c9c9c9);
}

input[type=range]::-webkit-slider-thumb {
    box-sizing: border-box;
    border: solid 0.375em transparent;
    width: 2.25em;
    height: 2.25em;
    border-radius: 50%;
    box-shadow: 0 2px 5px #7d7d7d;
    background: linear-gradient(#c5c5c5, whitesmoke) padding-box, linear-gradient(#fbfbfb, #c2c2c2) border-box;
    cursor: ew-resize;
}

input[type=range]::-moz-range-thumb {
    box-sizing: border-box;
    border: solid 0.375em transparent;
    width: 2.25em;
    height: 2.25em;
    border-radius: 50%;
    box-shadow: 0 2px 5px #7d7d7d;
    background: linear-gradient(#c5c5c5, whitesmoke) padding-box, linear-gradient(#fbfbfb, #c2c2c2) border-box;
    cursor: ew-resize;
}

input[type=range]:focus {
    outline: none;
}

.min--max--label {}