@charset "UTF-8";
body {
    font-family: 'Roboto Condensed', sans-serif;
    min-height: 100vh;
    overflow-x: hidden;
    background: linear-gradient(#f8f8f8, #d9d9d9);
    display: grid;
    justify-content: start;
    align-items: center;
    align-content: center;
    justify-items: center;
}

.conteudo {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: flex-start;
    align-items: center;
    margin: 0 10px;
}

.controls {
    border-radius: 10px;
    border-color: #d1d1d1;
    border-style: solid;
    border-width: 1pt;
    background-color: #ffffff7a;
}

.container {
    display: flex;
    margin: 10px;
}

.container--volumes {
    margin: 10px;
}

.labels-volumes {
    justify-self: flex-start;
    margin: 0 10px;
    border-radius: 10px;
    border-color: #d1d1d1;
    border-style: solid;
    border-width: 1pt;
    background-color: #ffffff7a;
    display: flex;
}

.labels--titulos {
    margin: 10px;
}

.slider-container {
    max-height: 400px;
    max-width: 80px;
}

.slider-container label {
    display: block;
    margin: 0 5px;
    text-align: center;
    min-height: 70px;
    font-size: 0.83em;
}

em {
    font-weight: bold;
    color: #1f77b4;
}

.plotagem {
    position: relative;
    margin: 0 -120px;
}

.botao {
    display: none;
    position: relative;
    border: 0;
    line-height: 2.5;
    padding: 0 20px;
    font-size: 1rem;
    text-align: center;
    color: #fff;
    text-shadow: 1px 1px 1px #000;
    border-radius: 15px;
    background-color: rgb(31 119 180);
    background-image: linear-gradient(to top left, rgba(0, 0, 0, 0.2), rgba(0, 0, 0, 0.2) 30%, rgba(0, 0, 0, 0));
    box-shadow: inset 2px 2px 3px rgba(255, 255, 255, 0.6), inset -2px -2px 3px rgba(0, 0, 0, 0.6);
    margin: 10px;
}

.visivel {
    display: inline-block;
}

.botao:active {
    box-shadow: inset -2px -2px 3px rgba(255, 255, 255, 0.6), inset 2px 2px 3px rgba(0, 0, 0, 0.6);
}

.botao:hover {
    background-color: rgb(255 127 14);
}

.slider {
    position: relative;
    transform-origin: bottom;
}

.titulo {
    justify-self: flex-start;
    padding: 15px 10px 0 10px;
    font-size: 1.2em;
    font-weight: 700;
}

.valorRange {
    font-weight: 800;
    position: relative;
    top: -260px;
    text-align: center;
    display: block;
}

.valorRange--Titulos {
    font-weight: 800;
}

input[type=range] {
    height: 275px;
    cursor: pointer;
    max-width: 75px;
    z-index: 1000;
}

input[type=range][orient=vertical] {
    writing-mode: bt-lr;
    /* IE */
    -webkit-appearance: slider-vertical;
    /* Chromium */
    appearance: webkit;
}

.min--max--label {
    display: flex;
    flex-direction: column;
    position: relative;
    top: -278px;
    left: 7px;
    justify-content: space-between;
    height: 275px;
    font-weight: 200;
    font-size: 10pt;
    color: #a3a3a3;
    z-index: -1;
}

.footer {
    justify-self: start;
    align-self: end;
}

.footer-warning {
    font-size: 0.7em;
    color: #636363;
    margin: 20px 10px 0 10px;
}

#gauge {
    width: 450px;
    height: 300px;
}

@media (min-width: 1300px) {
    body {
        align-items: start;
        justify-content: center;
    }
    .labels-volumes {
        justify-self: center;
    }
    .titulo {
        justify-self: center;
    }
    .footer {
        justify-self: center;
    }
}